<h1>Restablecer Contraseña</h1>
<form action="/reset/{{token}}" method="post">
  <label for="password">Nueva Contraseña:</label>
  <input type="password" id="password" name="password" required />
  <button type="submit">Restablecer Contraseña</button>
</form>